/*
Author: Damien Aldridge
File name: styles.css
Date: 09/14/2023
*/

/* CSS Reset */
header, h1, h2, h3, img, nav, main, div, footer, p, ul, figure, figcaption, article, aside {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(#ffffe6, #ffff80 50%, #ffffe6);
}

/* Hide tablet and desktop content */
.tab-desk {
  display: none;
}

.hero-desk {
  display: none;
}

#latest {
  display: none;
}

/* Mobile viewport style rules */

/* Header Style Rules */
header {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

header h1, h2 {
  padding: 1%;
}

img {
  max-width: 100%;
  display: block;
}

.round {
  border-radius: 12px 12px 0 0;
}

header img {
  /* max-width: 100%; */
}


/* Navigation Style Rules */
#menu-icon {
  background-color: olivedrab;
  color: #fff;
  display: block;
  position: absolute;
  right: 0.8rem;
  top: 0.4rem;
  width: 3rem;
  height: 2.8rem;
  border-radius: 12px;
  text-align: center;
  font-size: 2rem;
}

nav {
 margin: 2px;
}

nav ul {
  list-style-type: none;
  
}

#nav-links {
  display: none;
}

nav li {
  display: block;
  font-size: 1.75em;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid olivedrab;
  font-family: 'Patrick Hand', cursive;
}

nav li:last-child {
  border-bottom: 1px solid olivedrab;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

nav li:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

nav li a {
  text-align: center;
  text-decoration: none;
  color: olivedrab;
}

/* Main Content style rules */

#contact, #games, #bugs, .welcome, aside, p, li, h2, h3, form {
  font-family: 'Inria Sans', sans-serif;
}

a {
  color: olivedrab;
  text-decoration: none;
}

span {
  font-size: 1.10em;
  font-style: italic;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: olivedrab;
  font-family: 'Patrick Hand', cursive;
}

main {
  clear: both;
  background-color: azure;
  border-top: 1px solid wheat;
  border-bottom: 1px solid wheat;
  padding: 2%;
  border-radius: 12px;
}

article ul {
  margin-left: 3%;
}

main h3 {
  padding-bottom: 1em;
}

.video {
  padding-top: 5%;
}

figcaption {
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0 0 12px 12px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

.interestimage {
  max-width: 99%;
}

.interestdesc {
  padding-top: 1.25%;
}

#buglist li {
  padding: 1% 0;
}

#buglist li a {
  font-weight: bold;
  font-size: 1.15em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#bugsounds p {
  padding: 1.7%;
}

.credit {
 padding: 1.7%;
}

#bugsounds a {
  font-weight: bold;
  font-size: 1.05em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3)
}

audio {
  padding-bottom: 1.7%;
}

#test {
  clear: left;
}

/* Mobile Viewport: Style rules for form */
#gameform {
  display: none;
}

#hbu {
  text-align: center;
  padding: 1.5%;
}

#hbu button {
  width: 8rem;
  height: 5rem;
  margin-top: 1.5%;
  padding: 1.5%;
  font-size: 2rem;
  background-color: olivedrab;
  color: #fff;
  font-family: 'Patrick Hand', cursive;
}

form {
  margin: 0 auto;
  width: 99%;
  display: grid;
}

.formprelude {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 1.5%;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.28em;
}

fieldset, input, textarea {
  margin-bottom: 2%;
}

label {
  display: block;
}

.btn {
  margin: 0 auto;
  padding: 4%;
  background-color: olivedrab;
  font-size: 2em;
  color: #fff;
  font-family: 'Patrick Hand', cursive;
}

/* Contact page */
#contact {
  text-align: center;
}

#map {
  max-height: 50%;
  height: 360px;
  margin-top: 0.2em;
  box-shadow: 4px 4px 10px #000;
}

footer {
  text-align: center;
  font-weight: 500;
  color: #000;
  padding: 2em 0;
  clear: left;
  font-family: 'Inria Sans', sans-serif;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 761px), print {

  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rules for header */
  figure.hero-desk {
    display: none;
  }

  /* Tablet Viewport: Style rules for navigation */
  #nav-links {
    display: block;
  }

  nav ul {
    text-align: center;
    padding: 0;
    margin: 10px 0 10px 0;
  }

  nav li {
    display: inline-block;
    border-top: none;
    border-right: 1px solid olivedrab;
    margin: 0 auto;
  }

  nav li:first-child {
    border-right: 1px solid olivedrab;
    border-radius: 0;
  }

  nav li:last-child {
    border: none;
  }

  nav li a {
    padding: 0 1.5em;
  }

  /* Tablet Viewport: Style rules for content */
  h3 {
    text-align: center;
  }

  /*img {
    max-width: 99%;
  }*/

  .interest {
    margin: 0 auto;
  }

  /*
  .round {
    border-radius: 12px 12px 0 0;
  }
  */

  #latest {
    display: block;
  }

  .video {
    margin: 0 auto;
    display: block;
  }


  .honorable {
    grid-column: 1 / span 2;
    background: linear-gradient(#ffffe6, #ffff80);
    padding: 40px;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 5px 5px 10px #cfcf15;
    border-radius: 12px;
  }

  /*
  figcaption {
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0 0 12px 12px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }*/

  /* Tablet Viewport: Style rules for table */

  table {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 99%;
    margin: 3.5% 0;
  }

  th {
    border: 1px solid #000;
    padding: 1%;
    background-color: #fff;
  }

  #empty {
    width: 30%;
  }

  #earned {
    width: 33%;
  }

    /* Tablet Viewport: Style rules for form */
  form {
    display: grid;
  }

  /* Tablet Viewport: Style Rules for Contact */
  #map {
    width: 500px;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width:1020px) {

  /* Desktop Viewport: Header Style Rules */

  figure.tab-desk {
    display: none;
  }

  figure.hero-desk {
    display: block;
  }

  header {
    font-size: 1.25em;
  }

  header img {
    width: 100%;
  }

  /* Desktop Viewport: Hide tablet hero, show desktop hero */
    img.hero-desk {
      display: block;
    }

  /* Desktop Viewport: Style rules for navigation */
  nav li {
    font-size: 2em;
  }

  nav li a {
    padding: 0 2em;
    display: block;
  }

  nav li a:hover {
    color: #fff;
    background-color: olivedrab;
    transform: scale(1.2);
  }

  /* Desktop Viewport: Style rules for main content */

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .honorable {
    grid-column: 1 / span 2;
    background: linear-gradient(#ffffe6, #ffff80);
    padding: 65px;
    font-size: 1.7em;
    font-weight: bold;
    text-shadow: 5px 5px 10px #cfcf15;
  }

  main h3 {
    font-size: 1.35em;
  }

  /* Desktop Viewport: Style rules for table */
  table {
    margin-top: 12%;
  }

  th {
    padding: 2.3%;
  }

  /* Desktop Viewport: Style rules for form */
  .btn {
    grid-column: 1 / span 2;
  }

  .btn:hover {
  cursor: pointer;
  }

  /* Desktop Viewport: Style rules for contact */
  #contact p {
    font-size: 1.35em;
    padding-top: 2%;
  }

  #map {
    width: 600px;
    height: 600px;
  }

}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1450px) {

  body {
    background: linear-gradient(#ffffe6, #ffff80 50%, #ffffe6);
  }

  #wrapper {
    max-width: 1449px;
    margin: 0 auto;
  }

}

